html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  width: 960px;
}

/* header */

header {
  background-color: black;
  color: white;
}

header img {
  height: 1.5rem;
}



/* nav */

nav {
  background-color: firebrick;
}



/* footer */

footer {
  background-color: black;
  color: white;
  height: 5rem;
}
